* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #e7e8e8!important;
}
.nav {
    left: 0;
   background-color: #ffffff;
   color: #000;
    padding: 15px;
    top: 0;
    text-align: center;
}
.nav a {
    padding: 6px;
    margin: 6px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    padding: 12px;
    margin-left: 30%;
    background-color: #ffffff!important;
    margin-top: 5px;
}
.card h3 {
    font-size: 22px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.container {
    padding: 2px 16px;
}
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #ffffff;
   color: #000;
   text-align: center;
    height: 25px;
}